body {
    min-height: 98.3vh;
    background: url(ciel.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.range{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colonne{
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 450px;
}

.video{
  position: relative;
	padding-bottom: 56.25%;
  padding-top: 25px;
  width: 100%;
	height: 0;
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.titre{
  text-align: center;
  font-family: police1;
  font-size: 40px;
  padding-top: 10px;
}

.grosTitre{
  text-align: center;
  font-family: police1;
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.info{
  text-align: center;
  font-family: police1;
  font-size: 20px;
  padding-top: 10px;
}

@font-face{
  font-family: police1;
  src : url(KOMIKAH_.ttf);
}
